@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wave-header {
  width: 100%;
  position: relative;
  z-index: -1;
}
svg {
  position: absolute;
}

.bg-selector {
  background-color: rgb(246, 235, 243);
}

/* .bg-book-card {
  background: transparent;
} */

.bg-pink {
  background: linear-gradient(#f5efef, #ebdce5);
}
